#hdtb-tls {
    display:none;
}

#hdtbMenus {
    display:none;
}

.cosmoul {
    list-style-type: none;
    margin-top: 8px;
    margin-left: 150px;
    overflow: hidden;
    background-color: #fafafa;
}

.cosmoli {
    width: 48px;
    height:24px;
    float: left;
    text-align: center;
}
.cosmoli a {
    display: block;
    color: "#fafafa";
    text-align: center;
    text-decoration: none;
}

.cosmoh3sel {
    color: green;
    height: 32px;
}