#hdtb-tls {
	display:none;
}

#hdtbMenus {
	display:none;
}

#resultStats {
	display:none;
}

.time-ul {
	list-style-type: none;
	margin:0px;
	padding:0px;
	padding-top: 13px;
	padding-bottom: 0px;
	padding-left:169px;
	overflow: hidden;
	text-align: center;
	/*background-color: #f9f9f9;*/
	width: 663px;
}

.time-li {
	padding-left: 5px;
	padding-right: 5px;
	height:28px;
	float: left;
	text-align: center;
	display: inline;
}

.time-li-sel {
	border-bottom: 2px solid #319e41;
}

.time-li a {
	margin:0px auto;
	display: block;
	color: #fafafa;
	text-align: center;
	text-decoration: none;
}

.time-h3 {
	color: #777;
	text-decoration: none;
}

.time-h3:hover {
	color: #333333;
	height: 24px;
}

.time-h3-sel {
	color: #319e41;
	height: 24px;
}

.time-h3-sel:hover {
	color: #216d2d;
	height: 24px;
}